# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
daq_venv/

# Environment variables
backend/.env
.env.*

# Django stuff
*.log
local_settings.py
backend/db.sqlite3
media/

# Static files (optional if collected)
staticfiles/

# IDE / Editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Testing / coverage
.coverage
htmlcov/
.pytest_cache/

# mypy / type checking
.mypy_cache/

# Build files
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints/
